.button-circle {
  background: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: var(--shadow-sm);
}

.button-circle--dark {
  background: rgba(0, 0, 0, 0.5);
  border-color: rgba(255, 255, 255, 0.8);
}

.button-circle--hover {
  border-color: rgba(0, 0, 0, 0.4);
}

.button-circle--dark.button-circle--hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.button-circle--selected {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4));
}

.button-circle--flat {
  box-shadow: none;
  background: var(--container-background);
  border-color: transparent;
}

.button-circle--outline {
  background: var(--container-background);
  border-color: var(--container-border);
}
