:root {
  --color-neutral-black: #09101d;
  --color-action-primary-inverted: #ffffff;
  --color-neutral-neutral-1: #2c3a4b;
  --color-neutral-neutral-6: #a5abb3;
  --color-action-neutral-default: #9098a1;
  --color-neutral-neutral-3: #545d69;
  --color-neutral-white: #ffffff;
  --color-status-success: #287d3c;
  --color-status-success-bg: #edf9f0;
  --color-status-warning: #b95000;
  --color-status-warning-bg: #fff4ec;
  --color-status-error: #da1414;
  --color-status-error-bg: #feefef;
  --color-status-info: #2e5aac;
  --color-status-info-bg: #eef2fa;
  --color-neutral-neutral-9: #f4f6f9;
  --color-neutral-neutral-5: #858c94;
  --color-action-primary-default: #e86c00;
  --color-action-primary-hover: #cc5f00;
  --color-action-secondary-inverted: #ffffff;
  --color-action-secondary-hover: #0c9e42;
  --color-action-neutral-inverted: #ffffff;
  --color-action-neutral-hover: #858c94;
  --color-action-neutral-active: #798087;
  --color-action-neutral-disabled: #9098a1;
  --color-action-primary-active: #b25300;
  --color-action-secondary-active: #009236;
  --color-action-primary-disabled: #e86c00;
  --color-action-secondary-disabled: #19ab4f;
  --color-action-secondary-default: #19ab4f;
  --color-action-primary-hover-10: #cc5f00;
  --color-action-primary-active-20: #b25300;
  --color-neutral-neutral-7: #dadee3;
  --color-neutral-neutral-8: #ebeef2;
  --color-secondary-secondary-100: #fdcc4a;
  --color-black-inactive: #000000;
  --color-action-primary-visited: #5e38ba;
  --color-action-secondary-visited: #5e38ba;
  --color-neutral-neutral-2: #394452;
  --color-neutral-neutral-4: #6d7580;
  --color-primary-primary-30: #e86c00;

  --shadow-tight-elevation-4: 0 2px 7px 0 rgba(0, 0, 0, 0.24);
  --shadow-elevation-1: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  --shadow-tight-elevation-6: 0 3.5px 14px 0 rgba(0, 0, 0, 0.2);
  --shadow-tight-elevation-3: 0 2px 6px 0 rgba(0, 0, 0, 0.22);
  --shadow-tight-elevation-9: 0 13px 36px 0 rgba(0, 0, 0, 0.22);
  --shadow-tight-elevation-1: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  --shadow-tight-elevation-2: 0 1.25px 4px 0 rgba(0, 0, 0, 0.25);
}

.type-docs-page-title {
  font-family: "Inter", sans-serif;
  font-size: 560px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 2px;
}

.type-docs-section-title {
  font-family: "Inter", sans-serif;
  font-size: 160px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 1px;
}

.type-docs-category-title {
  font-family: "Inter", sans-serif;
  font-size: 54px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0;
}

.type-docs-component-description {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
}

.type-paragraph-base-regular {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

.type-f6-heavy-1200-plus {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
}

.type-paragraph-tiny-heavy {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 9px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0;
}

.type-docs-component-name {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0;
}

.type-paragraph-xsmall-heavy {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
}

.type-paragraph-small-heavy {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
}

.type-paragraph-base-heavy {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}

.type-action-button-small {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
}

.type-action-button-large {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0;
}

.type-action-button-medium {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}

.type-docs-component-small-description {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}

.type-small-caps-heavy {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 5px;
}

.type-f5-heavy-1200-plus {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 23px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}

.type-paragraph-small-regular {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
}

.type-action-link-medium {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}

.type-action-link-large {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0;
}

.type-action-link-small {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
}

.type-docs-component-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
}

.type-paragraph-xsmall-regular {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
}

.type-paragraph-large-regular-1200-plus {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0;
}

.type-paragraph-small-medium {
  font-family: "Barlow", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
}

.type-row-primary-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}

.type-row-secondary-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}

.type-header-primary {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0;
}

body {
  margin: 0;
  color: var(--color-neutral-neutral-1);
  background: var(--color-neutral-neutral-9);
}
