.ds-text-input {
  display: inline-flex;
  position: relative;
}

.ds-text-input__field {
  background: var(--color-gray-01);
  border: 1px solid var(--color-gray-02);
  border-radius: 12px;
  color: var(--color-dark-100);
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  outline: none;
  padding: 0 16px;
  width: 343px;
}

.ds-text-input__field::placeholder {
  color: var(--color-gray-03);
}
